{% extends 'layout_page.twig' %}

{% set page = 'historique' %}
{% set titre = repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize %}
{% macro date_fr(date) %}
{{date | date('j F Y') | replace({'1 ':'1er ', 'January':'janvier', 'February':'février', 'March':'mars', 'April':'avril', 'May':'mai', 'June':'juin', 'July':'juillet', 'August':'août', 'September':'septembre', 'October':'octobre', 'November':'novembre', 'December':'décembre'}) | replace({'11er ':'11 ', '21er ':'21 ', '31er ':'31 '}) }}
{% endmacro %}
{% import _self as macros %}

{% block title %}{{ titre }} - Archéo Lex{% endblock %}

{% block content %}
<h1>{{ titre }}</h1>
<hr />

{% if commits and files %}
<div id="archeo-contenu" style="">
<div id="archeo-stats-small">
    <a href="{{ path('version', {repo: repo|replace({'.git':''}), version:commits|first|first.date|date('Y-m-d')}) }}" style="font-size: 200%">Texte actuel</a>
    <br /><br />
    {{ commits|first|length }} versions
    <br /><br />
    Du {{ macros.date_fr(commits|first|last.date) }} au {{ macros.date_fr(commits|first|first.date) }}
    <br /><br />
    Date de mise à jour : {% if commits|first|first.commiter.name == "Législateur" %}{{ macros.date_fr(commits|first|first.commiterDate) }} à {{ commits|first|first.commiterDate|date('H:i:s (T)') }}{% else %}inconnue{% endif %}
    <br /><br />
    Git : <input type="text" id="gitrepo-address" value="https://archeo-lex.fr/git/{{ repo | replace({'\.git':''}) }}" readonly="readonly" style="background:#ebebeb;border:1px solid #adadad;border-radius:3px;box-sizing:border-box;color:#333333;width:200px;" />
    <br /><br />
    NB : les dates avant 1970 sont erronément affichées et peuvent apparaître soit comme le 1er janvier 1970 soit comme des dates aléatoires entre 2015 et 2030.
</div>
<div id="archeo-versions">
{% for date, commit in commits %}
Versions :
<ul>
{% for item in commit %}
    <li style="margin-top: 2px;"><a href="{{ path('version', {repo: repo | replace({'.git': ''}), version: item.date | date('Y-m-d')}) }}">{{ macros.date_fr(item.date) }}</a> (<a href="{{ path('commitversion', {repo: repo|replace({'.git':''}), version: item.date | date('Y-m-d')}) }}">modifications</a>)
{% endfor %}
</ul>
{% endfor %}
</div>
<div id="archeo-stats-large">
    <a href="{{ path('version', {repo: repo|replace({'.git':''}), version:commits|first|first.date|date('Y-m-d')}) }}" style="font-size: 200%">Texte actuel</a>
    <br /><br />
    {{ commits|first|length }} versions
    <br /><br />
    Du {{ macros.date_fr(commits|first|last.date) }} au {{ macros.date_fr(commits|first|first.date) }}
    <br /><br />
    Date de mise à jour : {% if commits|first|first.commiter.name == "Législateur" %}{{ macros.date_fr(commits|first|first.commiterDate) }} à {{ commits|first|first.commiterDate|date('H:i:s (T)') }}{% else %}inconnue{% endif %}
    <br /><br />
    Git : <input type="text" id="gitrepo-address" value="https://archeo-lex.fr/git/{{ repo | replace({'\.git':''}) }}" readonly="readonly" style="background:#ebebeb;border:1px solid #adadad;border-radius:3px;box-sizing:border-box;color:#333333;width:200px;" />
    <br /><br />
    NB : les dates avant 1970 sont erronément affichées et peuvent apparaître soit comme le 1er janvier 1970 soit comme des dates aléatoires entre 2015 et 2030.
</div>
</div>
{% else %}
<p>Aucun résultat trouvé.</p>
{% endif %}

    <hr />

{% endblock %}
