{% extends 'layout_page.twig' %}

{% set page = 'historique' %}

{% block title %}GitList{% endblock %}

{% block content %}
<h1>{{ repo | replace({'codes/': '', '\.git':'', '_':' '}) | capitalize }}</h1>
<hr />

<table style="margin-left: 5em;">
<tr>
    <td>
{% if commits %}
{% for date, commit in commits %}
Versions :
<ul>
{% for item in commit %}
    <li style="margin-top: 2px;"><a href="{{ path('blob', {repo: repo, commitishPath: item.hash ~'/' ~ (repo | replace({'codes/': '', '\.git':'.md', 'é':'e'}) | capitalize )}) }}">{{ item.message | replace({'Version consolidée au ':''}) }}</a> (<a href="{{ path('commit', {repo: repo, commit: item.hash}) }}">diff</a>)</li>
{% endfor %}
</ul>
{% endfor %}
{% else %}
<p>Aucun résultat trouvé.</p>
{% endif %}
</td>
<td valign="top"><div style="margin-left: 5em">
    {% if files is not empty %}
        {% for file in files %}
            <a href="{{ path('blob', {repo: repo, commitishPath: branch ~ '/' ~ path ~ file.name}) }}" style="font-size: 200%">Texte actuel</a>
        {% endfor %}
        <br />
        {% for author in authors %}
            {{ author.commits }} versions
        {% endfor %}
        <br />
        Git : <input type="text" value="http://archeo-lex.fr/{{ repo | replace({'\.git':''}) }}" readonly="readonly" style="background:#ebebeb;border:1px solid #adadad;border-radius:3px;box-sizing:border-box;color:#333333;width:200px;" />
    {% else %}
        <p>Ce dépôt est vide.</p>
    {% endif %}
</div></td>
</tr>
</table>


    <hr />

{% endblock %}
