{% extends 'layout_page.twig' %}

{% set page = 'commits' %}
{% set titre = repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize %}

{% block title %}{{ titre }} - Archéo Lex{% endblock %}

{% block content %}
    {% include 'breadcrumb.twig' with {breadcrumbs: [{dir: 'Texte annoté', path:''}]} %}

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Le texte est annoté de façon à retrouver quand ont été introduites ou modifiées les dispositions.</p>
            <p>La colonne de gauche comporte la date de la plus récente modification, ainsi qu’un lien vers le détail des autres modifications à cette date.</p>
        </div>
    </div>

    <div class="source-view">
        <div class="source-header">
            <div class="meta">{{ file }}</div>
        </div>
        <div class="blame-view-wrapper">
            <table class="blame-view">
            {% for blame in blames %}
                <tr>
                    <td class="commit"><a href="{{ path('version', {repo: repo | replace({'.git': ''}), version: blame.date}) }}">{{ blame.date }}</a></td>
                    <td><pre>{{ blame.line }}</pre></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <hr />
{% endblock %}
