{% extends 'layout_page.twig' %}

{% set page = 'commits' %}
{% set titre = repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize %}

{% block title %}{{ titre }} - Archéo Lex{% endblock %}

{% block content %}
<h1>{{ repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize }}</h1>
<hr />

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Le texte est annoté de façon à retrouver quand ont été introduites ou modifiées les dispositions.</p>
            <p>Pour chaque partie du texte, la colonne de gauche donne la date de la plus récente modification. Les deux liens vont vers le détail des autres modifications à cette date, et vers le texte annoté pour rechercher plus avant des modifications.</p>
        </div>
    </div>

    <div class="source-view">
        <div class="source-header">
            <div class="meta"></div>

            <div class="btn-group pull-right">
                <a href="{{ path('version', {repo: repo | replace({'.git': ''}), version: commit.date|date('Y-m-d')}) }}"  class="btn btn-default btn-sm"><span class="fa fa-file"></span> Voir cette version</a>
                <a href="{{ path('commitversion', {repo: repo|replace({'.git': ''}), version: commit.date|date('Y-m-d')}) }}" class="btn btn-default btn-sm"><span class="fa fa-cut"></span> Modifications</a>
                <a href="{{ path('summaryrepo', {repo: repo|replace({'.git': ''})}) }}" class="btn btn-default btn-sm"><span class="fa fa-list"></span> Historique</a>
            </div>
            <h4>{{ commit.message }} <small>(version {{ commit.shortHash }})</small></h4>
       </div>
        <div class="blame-view-wrapper">
            <table class="blame-view">
            {% for blame in blames %}
                <tr>
                    <td class="commit"><a href="{{ path('commitversion', {repo: repo|replace({'.git': ''}), version: blame.date|date('Y-m-d')}) }}">{{ blame.date }}</a></td>
                    <td class="commit"><a href="{{ path('blameversion', {repo: repo|replace({'.git': ''}), version: blame.date|date('Y-m-d')}) }}"><span class="fa fa-bullhorn"></span></a></td>
                    <td><pre>{{ blame.line }}</pre></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <hr />
{% endblock %}
