{% extends 'layout_page.twig' %}

{% set page = 'files' %}
{% set titre = repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize %}

{% block title %}{{ titre }} - Archéo Lex{% endblock %}

{% block content %}
<h1>{{ repo | replace({'codes/':'', '\.git':'', '_':' ', '-':' '}) | capitalize }}</h1>
<hr />

    <div class="panel panel-default">
        <div class="panel-body">
            <p>Le texte ci-dessous est la version qui entre en vigueur à la date donnée.</p>
            <p>Les dispositions spécifiquement modifiées à cette date sont accessibles via le bouton « Modifications ».</p>
        </div>
    </div>

    <div class="source-view">
        <div class="source-header">
            <div class="meta"></div>

            <div class="btn-group pull-right">
                <a href="{{ path('rawversion', {repo: repo|replace({'.git': ''}), version: commit.date|date('Y-m-d')}) }}" class="btn btn-default btn-sm"><span class="fa fa-file-text-o"></span> Texte brut</a>
                <a href="{{ path('blameversion', {repo: repo|replace({'.git': ''}), version: commit.date|date('Y-m-d')}) }}" class="btn btn-default btn-sm"><span class="fa fa-bullhorn"></span> Texte annoté</a>
                <a href="{{ path('commitversion', {repo: repo|replace({'.git': ''}), version: commit.date|date('Y-m-d')}) }}" class="btn btn-default btn-sm"><span class="fa fa-cut"></span> Modifications</a>
                <a href="{{ path('summaryrepo', {repo: repo|replace({'.git': ''})}) }}" class="btn btn-default btn-sm"><span class="fa fa-list"></span> Historique</a>
            </div>
            <h4>{{ commit.message }} <small>(version {{ commit.shortHash }})</small></h4>
        </div>
        {% if fileType == 'image' %}
        <div class="text-center"><img src="{{ path('blob_raw', {repo: repo, commitishPath: branch ~ '/' ~ file}) }}" alt="{{ file }}" class="image-blob" /></div>

        {% elseif fileType == 'markdown' %}
        <div class="md-view"><div id="md-content">{{ blob }}</div></div>

        {% else %}
        <pre id="sourcecode" language="{{ fileType }}">{{ blob|htmlentities|raw }}</pre>
        {% endif %}
    </div>

    <hr />
{% endblock %}
