<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
    <channel>
        <title>Dernières versions dans {{ repo }}:{{ branch }}</title>
        <description>RSS fourni par GitList</description>
        <link>{{ url('homepage') }}</link>

        {% for commit in commits %}
        <item>
            <title>{{ commit.message }}</title>
            <description>{{ commit.author.name }} a créé {{ commit.shortHash }} le {{ commit.date | format_date }}</description>
            <link>{{ url('commit', {repo: repo, commit: commit.hash}) }}</link>
            <pubDate>{{ commit.date | date('r') }}</pubDate>
            <author>{{ commit.author.email }} ({{ commit.author.name }})</author>
        </item>
        {% endfor %}
    </channel>
</rss>
